<!DOCTYPE html>
<html>
<head>
  <title>ECO OpenID Connect Provider</title>
</head>

<body>
    <h1>Welcome to the ECO OpenID Connect Provider</h1>
    <h3>Version: <%=version%> </h3>
    You cannot use this component on itself. Use a registered client to connect.
</body>
</html>