<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./theme.css">
    <link rel="stylesheet" type="text/css" href="./ecoidp.css">

  <title>ECO OpenID Connect Provider</title>
</head>

<body>
  <div class="container">
    <div class="login">
      <div class="dialog" >
          <p class="brand" ><img src="../Logo_ECO.png" style="width:70%;" alt=""/></p>
          <div class="block" style="padding:1em;">
          <h1>Ups! Algo correu mal ...</h1>
          Ocorreu um erro. Pedimos as nossas desculpas. Por favor, tente novamente recarregando esta página.
          <ul>
            <li><%=idp_error%></li>
            <li><%=message%></li>
          </ul>
      </div>
    </div>
  </div>
</body>
</html>